In [21]:
import pandas as pd
import numpy as np
import os
import sqlite3

In [97]:
os.getcwd()
df = pd.read_csv("~/Desktop/Sample Data.csv")

In [98]:
df.head()

   id student
0   1    Mary
1   2   Jones
2   3   Nicky
3   4    Fang
4   5    Leya

In [23]:
def myfunc():
  return lambda a : a%2==1

mydoubler = myfunc()

print(mydoubler(11))

True

In [24]:
mydoubler = lambda a:a%2==1
print(mydoubler(11))

True

In [41]:
df.shape[0]

17

In [186]:
df['temp']=df.id%2

In [220]:
df = pd.read_csv("~/Desktop/Sample Data.csv")
df['id'].iloc[-1]

17

In [233]:
#Method 1 -----
df = pd.read_csv("~/Desktop/Sample Data.csv")
df['temp']=df.id%2
def my_function(var1, var2):
    if df['id'].iloc[-1]%2==1:
        df[var1]=np.where(df[var2]==1,df[var1]+1,df[var1]-1)
        #df.iloc[-1,0]=df.iloc[-1,0]-1
        df['id'].iloc[-1] = df['id'].iloc[-1]-1
    else:
        df[var1]=np.where(df[var2]==1,df[var1]+1,df[var1]-1)
    return df
df=my_function('id','temp')
df=df.sort_values(by='id',ascending=True)
df=df.drop(columns='temp')
print(df)

    id student
1    1   Jones
0    2    Mary
3    3    Fang
2    4   Nicky
5    5  Nikita
4    6    Leya
7    7   Laura
6    8   Elisa
9    9  Bernie
8   10    Luis
11  11   Shiro
10  12   Debby
13  13    Lucy
12  14   Linda
15  15    Ting
14  16    Grey
16  17    Rose

/Users/sanduhr/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [243]:
#Method 2 ----
df = pd.read_csv("~/Desktop/Sample Data.csv")
df['temp']=df.id%2

def my_fun_2(x, var1, var2):
    if  df['id'].iloc[-1]%2==1:
        if  x[var2]==1:
            x[var1]=x[var1]+1
        
        else:
            x[var1]=x[var1]-1
        
    else:
        if  x[var2]==1:
            x[var1]=x[var1]+1
        else:
            x[var1]=x[var1]-1
    return x
df_2 = df.apply(lambda x: my_fun_2(x, 'id', 'temp'), axis=1)
print (df_2)

if  df['id'].iloc[-1]%2==1:
    df_2['id'].iloc[-1] = df_2['id'].iloc[-1]-1
print(df_2)

    id student  temp
0    2    Mary     1
1    1   Jones     0
2    4   Nicky     1
3    3    Fang     0
4    6    Leya     1
5    5  Nikita     0
6    8   Elisa     1
7    7   Laura     0
8   10    Luis     1
9    9  Bernie     0
10  12   Debby     1
11  11   Shiro     0
12  14   Linda     1
13  13    Lucy     0
14  16    Grey     1
15  15    Ting     0
16  18    Rose     1
    id student  temp
0    2    Mary     1
1    1   Jones     0
2    4   Nicky     1
3    3    Fang     0
4    6    Leya     1
5    5  Nikita     0
6    8   Elisa     1
7    7   Laura     0
8   10    Luis     1
9    9  Bernie     0
10  12   Debby     1
11  11   Shiro     0
12  14   Linda     1
13  13    Lucy     0
14  16    Grey     1
15  15    Ting     0
16  17    Rose     1

/Users/sanduhr/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)